services:
  black-mesa:
    build:
      context: .
    container_name: black-mesa
    depends_on:
      - mongodb
      - redis
    env_file:
      - .env
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - MONGO_URI=mongodb://mesa:SUPER_AWESOME_DB_PASSWORD@mongodb:27017/black-mesa
      - REDIS_URI=redis://:SUPER_AWESOME_REDIS_PASSWORD@redis:6379
      - OTLP_ENDPOINT=

  mongodb:
    image: mongo:latest
    container_name: mongodb
    volumes:
      - ./data/db:/data/db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mesa
      MONGO_INITDB_ROOT_PASSWORD: SUPER_AWESOME_DB_PASSWORD

  redis:
    image: redis:latest
    container_name: redis
    volumes:
      - ./data/redis:/data
    ports:
      - "6379:6379"
    command: redis-server --requirepass SUPER_AWESOME_REDIS_PASSWORD
