version: '3.0'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    image: black-mesa
    restart: unless-stopped
    links:
      - mongo
      - redis
      - lavalink
    depends_on:
      - mongo
      - redis
      - lavalink
    environment:
      - APIHOST=black-mesa-backend
      - APIPORT=8080
      - APITOKEN=
      - TOKEN=
      - MONGOURI=mongodb://mongo:27017
      - MONGOUSER=
      - MONGOPASS=
      - REDIS=redis:6379
      - LAVALINKURI=lavalink:2333
      - LAVALINKPASS=password123

  mongo:
    image: mongo
    restart: unless-stopped
    volumes:
      - ./data/mongodb:/data/db
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=
      - MONGO_INITDB_ROOT_PASSWORD=

  redis:
    image: redis
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
    ports:
      - 6739:6739

  lavalink:
    build:
      context: ./lavalink
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./lavalink:/opt/Lavalink

networks:
  default:
    external:
      name: black-mesa-network